/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

html {
  background-image: url('../images/site/small_check.jpg');
  align-items: center;
}

body {
  color: #252525;
  font-family: 'Arial', sans-serif;
  width: 90%;
  margin: 2vh auto;
  border: 5px solid #06b3d6;
  border-radius: 0.5em;
  background-color: white;
  padding: 1em;
  display: flex;
  flex-direction: column;
  height: calc(100% - 4em);
}

#top-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 3vh;
}

.site-name {
  justify-content: flex-start;
}

.site-name a {
  text-decoration: none;
  font-size: 2em;
  color: #252525;
}

#tools {
  position: absolute;
  right: 7vw;
  top: 5vh;
  display: flex;
  justify-content: flex-end;
}

#tools a {
  text-decoration: none;
  font-size: 0.875em;
  text-transform: uppercase;
  color: #252525;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  background-color: #252525;
  color: white;
  padding: 0;
}

nav ul li {
  padding: 1em;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  font-weight: bold;
}

nav ul li a:hover {
  color: #252525;
  background-color: white;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

main {
  flex: 1;
}

footer {
  margin-bottom: 1em;
}

#car-wrapper {
  position: relative;
  display: flex;
  padding: 1em;
  justify-content: space-evenly;
}

#car-container {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

#car-features {
  position: absolute;
  color: #03758c;
  background-color: #f0f0f0;
  font-size: 1.25em;
  opacity: 0.8;
  margin: 0;
  padding: 1em;
  top: 1em;
  left: 40%;
  transform: translateX(-70%);
}

#car-features h2 {
  margin: 0;
  padding: 0;
}
#car-features p {
  margin: 0;
  padding: 0.25em 0;
}
#car-features button {
  background-color: #06b3d6;
  border: none;
  margin-top: 2em;
  padding: 1em 2em;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
}

#car-upgrades, #car-reviews {
  margin-top: 30vh;
}

#car-upgrades ul li, #car-reviews ul li {
  padding: 0.5em;
}

#car-upgrades {
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#car-reviews {
  order: 2;
}

#car-upgrades ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: auto;
  justify-items: center;
  padding: 0;
}

#car-upgrades li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#car-upgrades .image-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #06b3d6;
  width: 100%;
}

#car-upgrades .image-container img {
  width: 4em;
  height: 4em;

}

img {
  max-width: 80%;
}

#car-upgrades li div:last-child {
  font-size: 0.875em;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

#inv-display {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#inv-display li {
  padding: 1em;
  border: 2px solid lightgrey;
  border-radius: 0.5em;
}

#inv-display li img {
  justify-content: center;
}

#login-area, #register-area, #classification-form, #inventory-form {
  width: 20vw;
  padding: 1em 3em;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#login-form, #register-form, #classification-form, #inventory-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#login-form label, #register-form label, #classification-form label, #inventory-form label {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

#login-form input, #register-form input, #classification-form input, #inventory-form input,select {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1.25em;
  border: 1px solid #ccc;
  border-radius: 0.25em;
}

#login-form button, #register-form button, #classification-form button, #inventory-form button {
  width: 30%;
  padding: 0.5em;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
}

#login-form button:hover, #register-form button:hover, #classification-form button:hover, #inventory-form button:hover {
  background-color: #0056b3;
}

#login-form p, #register-form p {
  margin-top: 1.25em;
}

#car-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-group {
  display: flex;
  justify-content: space-between;
}

.form-group label,
.form-group input {
  flex: 1;
  margin-right: 0.75em;
}

.form-group input:last-child {
  margin-right: 0;
}

@media (max-width: 1024px) {
  #car-info {
    flex-direction: column;
  }
}